<div class="bg-colory">
    <div class="row container m-auto py-5 text-center">
        <div class="col-md-4 py-5">
            <div class="location">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
        </div>
        <div class="col-md-4 py-5">
            <div class="icon">
                <h3>AROUND THE WEB</h3>
                <div class="icons">
                    <div class="icon1 mx-2">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="icon1 mx-2">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="icon1 mx-2">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <div class="icon1 mx-2">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-5">
            <div class="free">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>
