<div class="container my-5 text-center">
    <h2 class="">PORTFOLIO COMPONENT</h2>
    <div class="dive"></div>
    <i class="fa-solid fa-star"></i>
    <div class="row">
        <div class="col-md-4 mt-4">
            <img src="../../assets/poert1.png" class="w-100">
        </div>
        <div class="col-md-4 mt-4">
            <img src="../../assets/port2.png" class="w-100">
        </div>
        <div class="col-md-4 mt-4">
            <img src="../../assets/port3.png" class="w-100">
        </div>
        <div class="col-md-4 mt-4">
            <img src="../../assets/poert1.png" class="w-100">
        </div>
        <div class="col-md-4 mt-4">
            <img src="../../assets/port2.png" class="w-100">
        </div>
        <div class="col-md-4 mt-4">
            <img src="../../assets/port3.png" class="w-100">
        </div>
    </div>
</div>
